name: Setup GitHub Runner and Ansible
on:
    workflow_run:
      workflows: ["Deploy Infrastructure"]
      types:
        - completed
          
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets. AWS_ACCESS_KEY_ID }} 
        aws-secret-access-key: ${{ secrets. AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Pulumi login
      env:
        PULUMI_ACCESS_TOKEN: ${{ secrets. PULUMI_ACCESS_TOKEN }} 
      run: pulumi login
      
    - name: Pulumi stack select
      run: |
        cd infra
        Pulumi stack select arifhossaincse22/infra/k3s_in_AWS
    - name: Pulumi refresh
      run: |
        cd infra
        pulumi refresh --yes

    - name: Save Pulumi outputs 
      id: pulumi_outputs
      env:
        PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
      run: |
        cd infra
        GIT_RUNNER_IP=$(pulumi stack output git_runner_public_ip)